@charset "utf-8";
*{margin: 0;padding: 0;color: #ccc;font-family: arial;}
ul,li{list-style: none;}
body{background: #000;}
a{text-decoration: none;}
#app{width: 100%;height: 100%;}
#app .wrap{width: 90%;height: 600px;background: #a99;margin: 0 auto;margin-top: 50px;display: grid;}