@charset "utf-8";
@import url(./mobile.css) screen and (min-width: 0px) and (max-width: 800px);
@font-face {font-family: nanum; src: url(../fonts/NanumBarunGothicLight.ttf);}
@font-face {font-family: Jeju; src: url(../fonts/NanumBarunGothicUltraLight.ttf);}
*{margin: 0;padding: 0;font-family: 'Jeju', serif;}
/**/
/* Color Theme Swatches in Hex */
.Deep-Teal-Sea-1-hex { color: #012E40; }
.Deep-Teal-Sea-2-hex { color: #024959; }
.Deep-Teal-Sea-3-hex { color: #026773; }
.Deep-Teal-Sea-4-hex { color: #3CA6A6; }
.Deep-Teal-Sea-5-hex { color: #F2E3D5; }

/*font-family: 'Nanum Gothic', serif;*/
ul,li{list-style: none;}
a{text-decoration: none;color: #fff;display: inline-block;}
body{position: relative;overflow-y: hidden;overflow-x: hidden;}
/*.circle{width: 50px;height: 50px;border: 1px solid #fff;border-radius: 30px;position: absolute;left: 0;top: 0; transform: translate(-50%, -140%);z-index: 9999;}*/
#particle{width: 100%;height: 100vh;overflow: hidden;position: absolute;background: #000;z-index: 0;left: 0;top: 0;bottom: 0;right: 0;opacity: 1;}

/*
grid의 형태정의
grid-template-rows
grid-template-columns
ex: grid-template-columns: 1fr 1fr 1fr, 1대 1대 1비율인 3개의 컬럼을 의미
	grid-template-rows: 1fr 1fr 1fr, 1대 1대 1비율인 3개의 로우를 의미
	grid-template-rows: repeat(3, 1fr), repeat 함수 사용으로 5개의 row를 의미,위와 같음
	grid-template-rows: repeat(3, 1fr), repeat 함수 사용으로 5개의 row를 의미,위와 같음
	repeat(3, 1fr 4fr 2fr)처럼 사용할 수도 있는데... 그럼굳이 이렇게 쓸필요가 있나;
	grid-template-rows: repeat(3, minmax(100px, auto))-> 최소높이 100px 최대 자동으로.
	columns: repeat(auto-fill, minmax(20%, auto));이렇게 사용하면
	최소 20% 최대 자동으로 공간을 빈곳없이 채우란것

gap: 20px;은 내용간의 너비를 설정. row-gap 또는 column-gap 으로 사용가능.
margin과 비슷한개념. 내부여백만 작용
*/
@keyframes change{
	0%		{background: #024959;}
	50%	{background: #3CA6A6;}
	100%	{background: #024959;}
}
/*@keyframes change{
	0%		{background: linear-gradient(45deg,#012E40,#024959);opacity: 0.3;}
	10%		{background: linear-gradient(45deg,#012E40,#024959);opacity: 0.3;}
	20%		{background: linear-gradient(45deg,#012E40,#024959);opacity: 0.4;}
	30%		{background: linear-gradient(45deg,#012E40,#024959);opacity: 0.5;}
	40%		{background: linear-gradient(45deg,#012E40,#024959);opacity: 0.6;}
	50%		{background: linear-gradient(45deg,#012E40,#024959);opacity: 0.6;}
	60%		{background: linear-gradient(45deg,#012E40,#024959);opacity: 0.6;}
	80%		{background: linear-gradient(45deg,#012E40,#024959);opacity: 0.5;}
	90%		{background: linear-gradient(45deg,#012E40,#024959);opacity: 0.4;}
	100%	{background: linear-gradient(45deg,#012E40,#024959);opacity: 0.4;}
}
@keyframes change2{
	0%		{background: linear-gradient(45deg,#024959,#026773);opacity: 0.3;}
	10%		{background: linear-gradient(45deg,#024959,#026773);opacity: 0.3;}
	20%		{background: linear-gradient(45deg,#024959,#026773);opacity: 0.4;}
	30%		{background: linear-gradient(45deg,#024959,#026773);opacity: 0.5;}
	40%		{background: linear-gradient(45deg,#024959,#026773);opacity: 0.6;}
	50%		{background: linear-gradient(45deg,#024959,#026773);opacity: 0.6;}
	60%		{background: linear-gradient(45deg,#024959,#026773);opacity: 0.6;}
	80%		{background: linear-gradient(45deg,#024959,#026773);opacity: 0.5;}
	90%		{background: linear-gradient(45deg,#024959,#026773);opacity: 0.4;}
	100%	{background: linear-gradient(45deg,#024959,#026773);opacity: 0.4;}
}
@keyframes change3{
	0%		{background: linear-gradient(45deg,#026773,#3CA6A6);opacity: 0.3;}
	10%		{background: linear-gradient(45deg,#026773,#3CA6A6);opacity: 0.3;}
	20%		{background: linear-gradient(45deg,#026773,#3CA6A6);opacity: 0.4;}
	30%		{background: linear-gradient(45deg,#026773,#3CA6A6);opacity: 0.5;}
	40%		{background: linear-gradient(45deg,#026773,#3CA6A6);opacity: 0.6;}
	50%		{background: linear-gradient(45deg,#026773,#3CA6A6);opacity: 0.6;}
	60%		{background: linear-gradient(45deg,#026773,#3CA6A6);opacity: 0.6;}
	80%		{background: linear-gradient(45deg,#026773,#3CA6A6);opacity: 0.5;}
	90%		{background: linear-gradient(45deg,#026773,#3CA6A6);opacity: 0.4;}
	100%	{background: linear-gradient(45deg,#026773,#3CA6A6);opacity: 0.4;}
}*/
#bulk{position: absolute;width: 100%;height: 100vh;opacity:.3;background: linear-gradient(45deg,#000,#000);animation:change 5s infinite linear;transition-property: all;}

/*#bulk.b1.vi{visibility: visible;}
#bulk.b2{animation:change2 5s infinite linear !important;visibility: hidden;}
#bulk.b2.vi{visibility: visible;}
#bulk.b3{animation:change3 5s infinite linear !important;visibility: hidden;}
#bulk.b3.vi{visibility: visible;}*/


#app{width: 100%;height: 100%;position: relative;z-index: 2;top: 5vh;}
#app .wrap{width: 90%;height: 90vh;margin: 0 auto;position: relative;}
#app .wrap .grid{width: 100%;height: 100%;display: grid;grid-template-columns: repeat(4,1fr);grid-template-rows: 1fr 6fr 1fr;position: absolute;left: 0;right: 0;bottom: 0;top: 0;}


#app .wrap .grid .title{width: 100%;height: 100%;display: flex;position: relative;z-index: 3;color: #fff;}
#app .wrap .grid .title a{height: 20px;}
#app .wrap .grid .a1{grid-row: 1/span 1;grid-column: 1 / span 1;}
#app .wrap .grid .a2{grid-row: 1/span 1;grid-column: 2 / span 1;}
#app .wrap .grid .a3{grid-row: 1/span 1;grid-column: 3 / span 1;}
#app .wrap .grid .a4{grid-row: 1/span 1;grid-column: 4 / span 1;justify-content: flex-end;}

#app .wrap .grid .a5{grid-row: 2/span 1;grid-column: 1 / span 2;}
#app .wrap .grid .a5{justify-content: center;align-items: center;font-size: 15px;}
#app .wrap .grid .a5 .typing{display: inline; vertical-align: middle;border-right: .05em solid white;animation:  cursor 0.2s ease infinite;}
#app .wrap .grid .a6{grid-row: 2/span 1;grid-column: 3 / span 2;}

#app .wrap .grid .a7{grid-row: 3/span 1;grid-column: 1 / span 1;align-items: flex-end;}
#app .wrap .grid .a7 {]}
#app .wrap .grid .a8{grid-row: 3/span 1;grid-column: 2 / span 1;align-items: flex-end;}
#app .wrap .grid .a9{grid-row: 3/span 1;grid-column: 3 / span 1;align-items: flex-end;}
#app .wrap .grid .a10{grid-row:3/span 1;grid-column: 4 / span 1;justify-content: flex-end;align-items: flex-end;}
#app .wrap .grid .a10 a{display: block;width: 32px;height: 32px;background: url(../images/GitHub-Mark-Light-32px.png) no-repeat center;}

#app .wrap .grid .a6 {flex-flow: column;align-items: flex-start;justify-content: center;position: relative;}
#app .wrap .grid .a6 div{width: 100%;height: 16.66666666666667%;position: absolute;left: 0;right: 0; top: 0;overflow: hidden;transition: .3s;}
#app .wrap .grid .a6 .box1{top:calc(100% - 6 	7.8vh)}
#app .wrap .grid .a6 .box2{top:calc(100% - 56.6vh)}
#app .wrap .grid .a6 .box3{top:calc(100% - 45.3vh)}
#app .wrap .grid .a6 .box4{top:calc(100% - 34vh)}
#app .wrap .grid .a6 .box5{top:calc(100% - 22.8vh)}
#app .wrap .grid .a6 .box6{top:calc(100% - 11.5vh)}

#app .wrap .grid .a6 a{height: 100%;font-size:10vh;font-family: nanum;transition: .6s;position: relative;text-shadow: 2px 2px #000;color: #fff;}
#app .wrap .grid .a6 a::before{content:'';display: block;width: 600px;height: 9vh;background: #026773;position: absolute;z-index: -1;left: -600px;top: 6vh;}
#app .wrap .grid .a6 .box1 a:hover {font-size: 10.1vh;transition: .6s;color: #fff;}
#app .wrap .grid .a6 .box2 a:hover {font-size: 10.1vh;transition: .6s;color: #fff;}
#app .wrap .grid .a6 .box3 a:hover {font-size: 10.1vh;transition: .6s;color: #fff;}
#app .wrap .grid .a6 .box4 a:hover {font-size: 10.1vh;transition: .6s;color: #fff;}
#app .wrap .grid .a6 .box5 a:hover {font-size: 10.1vh;transition: .6s;color: #fff;}
#app .wrap .grid .a6 .box6 a:hover {font-size: 10.1vh;transition: .6s;color: #fff;}
#app .wrap .grid .a6 .box1 a:hover::before,
#app .wrap .grid .a6 .box2 a:hover::before,
#app .wrap .grid .a6 .box3 a:hover::before,
#app .wrap .grid .a6 .box4 a:hover::before,
#app .wrap .grid .a6 .box5 a:hover::before,
#app .wrap .grid .a6 .box6 a:hover::before{left: 0;transition: .4s;}


#app .wrap .g2{display: none;}

.menu{position: absolute;top: 0;right: 0;bottom: 0;background: rgba(100, 100, 100, 1);width: 100vw;height: 100vh;transform: translateX(100%);transition: .3s;z-index: 4;opacity: 0;}
.menu.click{transform: initial;transition: .3s;opacity: 1;}
.menu.click .quit{position: absolute;right: 50px;top: 50px;cursor: pointer;font-size: 20px;z-index: 5;font-weight: bold;}


/*#app .another{width: 100%;height: 100vh;background: #a99;margin-top: 10vh;}*/

