@charset "utf-8";
*{margin: 0;padding: 0;color: #000;}
ul,li{list-style: none;}
body{background: #fff;}
#app{width: 100%;height: 100%;}
.wrap{width: 90%;height: 100%;background: #faf;margin: 0 auto;display: grid;grid-template-columns: repeat(4, 1fr); grid-template-rows: 1fr 6fr 1fr;}
.wrap div{border: 1px solid #000;height: 100px;align-self: stretch;}
.wrap .item1{}
.wrap .item1 ul {width: 100%;height: 100%;}
.wrap .item1 ul li{width: 33.3%;height: 33.3%;}
.wrap .item2{}
.wrap .item3{}
.wrap .item4{}
.wrap .item5{grid-column-end: span 2;}
.wrap .item6{grid-column-end: span 2;}
.wrap .item7{grid-column-end: span 2;}
.wrap .item8{grid-column-end: span 2;}


